@{    ViewBag.Title = "Home Page";
}
<br /><br />

<h2>@ViewBag.Message</h2>


<img src="@Url.Content("~/Content/themes/base/images/patio.jpg")" style="max-width: 300px; max-height: 300px; float: right;" alt="Hosue"; />
<p>BookEasy - Villas and vacation homes - holiday accommodation - villa directory for holiday homes. Rent gites, villas, 
cottages, farmhouse, chateau and apartments.BookEasy vacation villas, farmhouse, gite and cottage accommodation are private 
family homes. Book direct from the owner or our site.</p>

<p>
 We want you to book your <b>BookEasy </b>holiday apartment with the upmost confidence which is 
 why our highly experienced staff work hard to maintain the highest standards of service 
 and comfort in all of our <b>villas</b> with <b>private pools</b>. We have experienced 
 <b>BookEasy</b> representatives who are unobtrusive and yet never more than a phone call 
 away to advise on how best to enjoy your private <b>villa</b> with pool and <b>villa 
 holiday</b> destination.</p>
 
 <p>The reservations team has first hand knowledge of our quality <b>villas</b> with pools 
 and <b>holiday</b> destinations giving them the expertise to help you choose your perfect 
 <b>holiday villa</b> with <b>private pool</b>.The air holiday packages with flights booked 
 through BookEasy are ATOL protected by the Civil Aviation Authority.
 
</p>












 
