@{    ViewBag.Title = "Home Page";
}
<br /><br />

<h2>@ViewBag.Message</h2>

<p>BookEasy - Villas and vacation homes - holiday accommodation - villa directory for holiday homes. Rent gites, villas, 
cottages, farmhouse, chateau and apartments in France
BookEasy vacation villas, farmhouse, gite and cottage accommodation are private family homes. </p>

<p>Book direct from the owner or their agent.</p>

<p>Since 1999, for private home and villa Rentals in France. The largest selection of villas, homes and apartments, 
rented direct from the owner.</p>

<p>A BookEasy villa or holiday home is selected from private owners and major tour operators to offer value and charm. 
Most villas and homes are close to important historical French towns and ancient sites.</p>

<p>BookEasy is the holiday company with the largest selection of Luxury villas, apartments, country cottages and 
private homes at the best prices. Booking is always direct with the property owner or their agent.</p>

<p>Each French region has listings of properties to rent and you can search quickly - or browse slowly through pages of all the vacation homes we have on offer.

</p>

